<!-- <div class="row">
	<div class="col-sm-3">
		<div id="circle">
		</div>	
		<h3>mt</h3>
	</div>
</div> -->

<h1>I make stuff.</h1>
<div class="projects row">
	<div class="col-sm-3">
		<img width="250" src="images/placeholder.png" alt="">
	</div>

	<div class="col-sm-3">
		<img width="250" src="images/placeholder.png" alt="">
	</div>	

	<div class="col-sm-3">
		<img width="250" src="images/placeholder.png" alt="">
	</div>	

	<div class="col-sm-3">
		<img width="250" src="images/placeholder.png" alt="">
	</div>
</div>
<div id="me">
	<div id="meInfo">


		<h1>Mindi Torrey</h1>

		<h2 class="animated pulse" id="fsd">Full Stack Developer <span > w/ extra<img src="images/heart.png" alt="">for the front end.</span></h2>

	</div>
</div>