
<h1>I build stuff.</h1>

<div class="row" id="me">
	<div class="col-sm-6"></div>
	<div class="info col-sm-6">
		<img class="img-circle" width="130" src="images/profilePic.png" alt="">
		
	</div>
</div>
<div class="row">
	<div class="col-sm-6"></div>
	<div class="info col-sm-6">

		<h3 id="name">Mindi Torrey</h3>
		<h2 class="animated pulse" id="fsd">Full Stack Developer w/extra <span><img width="35" src="http://www.clker.com/cliparts/T/R/7/x/A/e/aqua-heart-hi.png" alt="">for the front end.</span></h2>

	</div>

</div>