<div class="projects row row-centered">
		
	<div class="col-sm-3 col-centered">
		<img class="img-responsive" width="300" src="images/placeholder.png" alt="">
		<label class="label" for="">Cool Project</label>		
	</div>
	<div class="col-sm-3 col-centered">
		<img class="img-responsive" width="300" src="images/placeholder.png" alt="">
		<label class="label" for="">Cool Project</label>
	</div>	

	<div class="col-sm-3 col-centered">
		<img class="img-responsive" width="300" src="images/placeholder.png" alt="">
		<label class="label" for="">Cool Project</label>
	</div>	

	<div class="col-sm-3 col-centered">
		<img class="img-responsive" width="300" src="images/placeholder.png" alt="">
		<label class="label" for="">Cool Project</label>
	</div>
</div>
